body {
  margin: 0;
  min-height: 100vh;
}

.first {
  background-color: #1F2937;
  color: #F9FAF8;
  display: flex;
  flex-direction: column;
  padding: 20px 180px 120px 180px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  margin: 0;
}

.header-links {
  list-style-type: none;
  display: flex;
  gap: 16px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.content {
  display: flex;
  margin-top: 100px;
  max-height: 320px;
  gap: 35px;
}

.main-text {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

.secondary-text{
  color: #e5e7eb;
}

img {
  max-height: 100%;
  max-width: auto;
}

.sign-up {
  color: white;
  background-color: #3882f6;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;  
}